In [25]:
# !pip install nltk

In [26]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string

In [27]:
df = pd.read_csv("review.csv")
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0.0,767.0,33.0,NaN,Absolutely wonderful - silky and sexy and comf...,4.0,1.0,0.0,Initmates,Intimate,Intimates
1,1.0,1080.0,34.0,NaN,Love this dress! it's sooo pretty. i happene...,5.0,1.0,4.0,General,Dresses,Dresses
2,2.0,1077.0,60.0,Some major design flaws,I had such high hopes for this dress and reall...,3.0,0.0,0.0,General,Dresses,Dresses
3,3.0,1049.0,50.0,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5.0,1.0,0.0,General Petite,Bottoms,Pants
4,4.0,847.0,47.0,Flattering shirt,This shirt is very flattering to all due to th...,5.0,1.0,6.0,General,Tops,Blouses

In [28]:
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [29]:
df.rename(columns = {"Review Text": 'text'}, inplace=True)

In [30]:
df.columns

Index(['Unnamed: 0', 'Clothing ID', 'Age', 'Title', 'text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [31]:
df["text"].str.lower()

0        absolutely wonderful - silky and sexy and comf...
1        love this dress!  it's sooo pretty.  i happene...
2        i had such high hopes for this dress and reall...
3        i love, love, love this jumpsuit. it's fun, fl...
4        this shirt is very flattering to all due to th...
                               ...
23478                                                  NaN
23479                                                  NaN
23480                                                  NaN
23481                                                  NaN
23482                                                  NaN
Name: text, Length: 23483, dtype: object

### Lower Case

In [32]:
df["text_lower"] = df["text"].str.lower()
df[['text', 'text_lower']].head()

,text,text_lower
0,Absolutely wonderful - silky and sexy and comf...,absolutely wonderful - silky and sexy and comf...
1,Love this dress! it's sooo pretty. i happene...,love this dress! it's sooo pretty. i happene...
2,I had such high hopes for this dress and reall...,i had such high hopes for this dress and reall...
3,"I love, love, love this jumpsuit. it's fun, fl...","i love, love, love this jumpsuit. it's fun, fl..."
4,This shirt is very flattering to all due to th...,this shirt is very flattering to all due to th...

## Upper Case

In [33]:
df["text_upper"] = df["text"].str.upper()
df[['text', 'text_upper']].head()

,text,text_upper
0,Absolutely wonderful - silky and sexy and comf...,ABSOLUTELY WONDERFUL - SILKY AND SEXY AND COMF...
1,Love this dress! it's sooo pretty. i happene...,LOVE THIS DRESS! IT'S SOOO PRETTY. I HAPPENE...
2,I had such high hopes for this dress and reall...,I HAD SUCH HIGH HOPES FOR THIS DRESS AND REALL...
3,"I love, love, love this jumpsuit. it's fun, fl...","I LOVE, LOVE, LOVE THIS JUMPSUIT. IT'S FUN, FL..."
4,This shirt is very flattering to all due to th...,THIS SHIRT IS VERY FLATTERING TO ALL DUE TO TH...

In [34]:
df[["text", "text_lower", "text_upper"]].head()

,text,text_lower,text_upper
0,Absolutely wonderful - silky and sexy and comf...,absolutely wonderful - silky and sexy and comf...,ABSOLUTELY WONDERFUL - SILKY AND SEXY AND COMF...
1,Love this dress! it's sooo pretty. i happene...,love this dress! it's sooo pretty. i happene...,LOVE THIS DRESS! IT'S SOOO PRETTY. I HAPPENE...
2,I had such high hopes for this dress and reall...,i had such high hopes for this dress and reall...,I HAD SUCH HIGH HOPES FOR THIS DRESS AND REALL...
3,"I love, love, love this jumpsuit. it's fun, fl...","i love, love, love this jumpsuit. it's fun, fl...","I LOVE, LOVE, LOVE THIS JUMPSUIT. IT'S FUN, FL..."
4,This shirt is very flattering to all due to th...,this shirt is very flattering to all due to th...,THIS SHIRT IS VERY FLATTERING TO ALL DUE TO TH...

In [35]:
df["text"] = df["text"].apply(lambda text: str(text))

## Removal of Punctuations

In [36]:
PUNCT_TO_REMOVE = string.punctuation
print(PUNCT_TO_REMOVE)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [37]:
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_rv_punct"] = df["text"].apply(lambda text: remove_punctuation(text))
df[['text', 'text_rv_punct']].head()

,text,text_rv_punct
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful silky and sexy and comfo...
1,Love this dress! it's sooo pretty. i happene...,Love this dress its sooo pretty i happened t...
2,I had such high hopes for this dress and reall...,I had such high hopes for this dress and reall...
3,"I love, love, love this jumpsuit. it's fun, fl...",I love love love this jumpsuit its fun flirty ...
4,This shirt is very flattering to all due to th...,This shirt is very flattering to all due to th...

## Remove Round brackets

In [38]:
def remove_round_brackets(text):
    return re.sub('\(.*?\)','',text)

df["text_rv_brackts"] = df["text"].apply(lambda text: remove_round_brackets(text))
df[['text', 'text_rv_brackts']].head()

,text,text_rv_brackts
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful - silky and sexy and comf...
1,Love this dress! it's sooo pretty. i happene...,Love this dress! it's sooo pretty. i happene...
2,I had such high hopes for this dress and reall...,I had such high hopes for this dress and reall...
3,"I love, love, love this jumpsuit. it's fun, fl...","I love, love, love this jumpsuit. it's fun, fl..."
4,This shirt is very flattering to all due to th...,This shirt is very flattering to all due to th...

## Remove Digits

In [39]:
from string import digits

def remove_digits(text):
    return text.translate(str.maketrans('', '', digits))

df["text_rv_digits"] = df["text"].apply(lambda text: remove_digits(text))
df[['text', 'text_rv_digits']].head()

,text,text_rv_digits
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful - silky and sexy and comf...
1,Love this dress! it's sooo pretty. i happene...,Love this dress! it's sooo pretty. i happene...
2,I had such high hopes for this dress and reall...,I had such high hopes for this dress and reall...
3,"I love, love, love this jumpsuit. it's fun, fl...","I love, love, love this jumpsuit. it's fun, fl..."
4,This shirt is very flattering to all due to th...,This shirt is very flattering to all due to th...

## Removal of stopwords

In [40]:
from nltk.corpus import stopwords

stopwords = stopwords.words('english')
print(stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [41]:
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in stopwords])


df["text_rv_stop"] = df["text"].apply(lambda text: remove_stopwords(text))
df[['text', 'text_rv_stop']].head()

,text,text_rv_stop
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful - silky sexy comfortable
1,Love this dress! it's sooo pretty. i happene...,"Love dress! sooo pretty. happened find store, ..."
2,I had such high hopes for this dress and reall...,I high hopes dress really wanted work me. init...
3,"I love, love, love this jumpsuit. it's fun, fl...","I love, love, love jumpsuit. fun, flirty, fabu..."
4,This shirt is very flattering to all due to th...,This shirt flattering due adjustable front tie...

In [42]:
# def remove_stopwords(txt):
#     word = []
#     for w in txt.split():
#         if w not in stpwords:
#             word.append(w)
#         else:
#             pass

#     return " ".join(word)

# out = []
# for txt in df["text"]:
#     output = remove_stopwords(txt)
#     out.append(output)
    
# df["text_rv_stop"] = out

In [43]:
def remove_whitespace(text):
    return  " ".join(text.split())
 
df["text_rv_whitespaces"] = df["text"].apply(lambda text: remove_whitespace(text))
df[['text', 'text_rv_whitespaces']].head()

,text,text_rv_whitespaces
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful - silky and sexy and comf...
1,Love this dress! it's sooo pretty. i happene...,Love this dress! it's sooo pretty. i happened ...
2,I had such high hopes for this dress and reall...,I had such high hopes for this dress and reall...
3,"I love, love, love this jumpsuit. it's fun, fl...","I love, love, love this jumpsuit. it's fun, fl..."
4,This shirt is very flattering to all due to th...,This shirt is very flattering to all due to th...

In [44]:
input_str = "   we don't need   the given questions"
remove_whitespace(input_str)

"we don't need the given questions"

## Removal of Frequent words

In [45]:
from collections import Counter
cnt = Counter()
for text in df["text_rv_stop"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('nan', 23434),
 ('love', 15),
 ('I', 15),
 ('dress', 13),
 ('small', 13),
 ('would', 12),
 ('ordered', 12),
 ('fit', 12),
 ('look', 12),
 ('little', 11)]

In [46]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
print(FREQWORDS)
def remove_freqwords(text):
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["text_rv_stopfreq"] = df["text_rv_stop"].apply(lambda text: remove_freqwords(text))
df[['text', 'text_rv_stopfreq']].head()

{'nan', 'small', 'would', 'I', 'love', 'dress', 'look', 'fit', 'ordered', 'little'}

,text,text_rv_stopfreq
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful - silky sexy comfortable
1,Love this dress! it's sooo pretty. i happene...,"Love dress! sooo pretty. happened find store, ..."
2,I had such high hopes for this dress and reall...,high hopes really wanted work me. initially pe...
3,"I love, love, love this jumpsuit. it's fun, fl...","love, love, jumpsuit. fun, flirty, fabulous! e..."
4,This shirt is very flattering to all due to th...,This shirt flattering due adjustable front tie...

## Removal of Rare words

In [60]:
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])

print(RAREWORDS)

{'comfortable.', 'recommend', 'warm,', "fall...it's", 'comfortable,', "i'd", 'roomy,', 'Very', 'good,', 'pops.'}

In [61]:
def remove_rarewords(text):
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

df["text_rv_stopfreqrare"] = df["text_rv_stopfreq"].apply(lambda text: remove_rarewords(text))
df[['text', 'text_rv_stopfreqrare']].head()

,text,text_rv_stopfreqrare
0,Absolutely wonderful - silky and sexy and comf...,Absolutely wonderful - silky sexy comfortable
1,Love this dress! it's sooo pretty. i happene...,"Love dress! sooo pretty. happened find store, ..."
2,I had such high hopes for this dress and reall...,high hopes really wanted work me. initially pe...
3,"I love, love, love this jumpsuit. it's fun, fl...","love, love, jumpsuit. fun, flirty, fabulous! e..."
4,This shirt is very flattering to all due to th...,This shirt flattering due adjustable front tie...

## Removal of Emojis

In [63]:
def remove_emoji(string):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', string)

remove_emoji("game is on ðŸ”¥ðŸ”¥")

'game is on '

In [64]:
remove_emoji("HilariousðŸ˜‚")

'Hilarious'

## Removal of Emoticons

emoticon is built from keyboard characters that when put together in a certain way represent a facial expression, an emoji is an actual image.

:-) is an emoticon

ðŸ˜€ is an emoji

In [65]:
EMOTICONS = {
    u":â€‘\)":"Happy face or smiley",
    u":\)":"Happy face or smiley",
    u":-\]":"Happy face or smiley",
    u":\]":"Happy face or smiley",
    u":-3":"Happy face smiley",
    u":3":"Happy face smiley",
    u":->":"Happy face smiley",
    u":>":"Happy face smiley",
    u"8-\)":"Happy face smiley",
    u":o\)":"Happy face smiley",
    u":-\}":"Happy face smiley",
    u":\}":"Happy face smiley",
    u":-\)":"Happy face smiley",
    u":c\)":"Happy face smiley",
    u":\^\)":"Happy face smiley",
    u"=\]":"Happy face smiley",
    u"=\)":"Happy face smiley",
    u":â€‘D":"Laughing, big grin or laugh with glasses",
    u":D":"Laughing, big grin or laugh with glasses",
    u"8â€‘D":"Laughing, big grin or laugh with glasses",
    u"8D":"Laughing, big grin or laugh with glasses",
    u"Xâ€‘D":"Laughing, big grin or laugh with glasses",
    u"XD":"Laughing, big grin or laugh with glasses",
    u"=D":"Laughing, big grin or laugh with glasses",
    u"=3":"Laughing, big grin or laugh with glasses",
    u"B\^D":"Laughing, big grin or laugh with glasses",
    u":-\)\)":"Very happy",
    u":â€‘\(":"Frown, sad, andry or pouting",
    u":-\(":"Frown, sad, andry or pouting",
    u":\(":"Frown, sad, andry or pouting",
    u":â€‘c":"Frown, sad, andry or pouting",
    u":c":"Frown, sad, andry or pouting",
    u":â€‘<":"Frown, sad, andry or pouting",
    u":<":"Frown, sad, andry or pouting",
    u":â€‘\[":"Frown, sad, andry or pouting",
    u":\[":"Frown, sad, andry or pouting",
    u":-\|\|":"Frown, sad, andry or pouting",
    u">:\[":"Frown, sad, andry or pouting",
    u":\{":"Frown, sad, andry or pouting",
    u":@":"Frown, sad, andry or pouting",
    u">:\(":"Frown, sad, andry or pouting",
    u":'â€‘\(":"Crying",
    u":'\(":"Crying",
    u":'â€‘\)":"Tears of happiness",
    u":'\)":"Tears of happiness",
    u"Dâ€‘':":"Horror",
    u"D:<":"Disgust",
    u"D:":"Sadness",
    u"D8":"Great dismay",
    u"D;":"Great dismay",
    u"D=":"Great dismay",
    u"DX":"Great dismay",
    u":â€‘O":"Surprise",
    u":O":"Surprise",
    u":â€‘o":"Surprise",
    u":o":"Surprise",
    u":-0":"Shock",
    u"8â€‘0":"Yawn",
    u">:O":"Yawn",
    u":-\*":"Kiss",
    u":\*":"Kiss",
    u":X":"Kiss",
    u";â€‘\)":"Wink or smirk",
    u";\)":"Wink or smirk",
    u"\*-\)":"Wink or smirk",
    u"\*\)":"Wink or smirk",
    u";â€‘\]":"Wink or smirk",
    u";\]":"Wink or smirk",
    u";\^\)":"Wink or smirk",
    u":â€‘,":"Wink or smirk",
    u";D":"Wink or smirk",
    u":â€‘P":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u":P":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u"Xâ€‘P":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u"XP":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u":â€‘Ãž":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u":Ãž":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u":b":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u"d:":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u"=p":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u">:P":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u":â€‘/":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u":/":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u":-[.]":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u">:[(\\\)]":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u">:/":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u":[(\\\)]":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u"=/":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u"=[(\\\)]":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u":L":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u"=L":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u":S":"Skeptical, annoyed, undecided, uneasy or hesitant",
    u":â€‘\|":"Straight face",
    u":\|":"Straight face",
    u":$":"Embarrassed or blushing",
    u":â€‘x":"Sealed lips or wearing braces or tongue-tied",
    u":x":"Sealed lips or wearing braces or tongue-tied",
    u":â€‘#":"Sealed lips or wearing braces or tongue-tied",
    u":#":"Sealed lips or wearing braces or tongue-tied",
    u":â€‘&":"Sealed lips or wearing braces or tongue-tied",
    u":&":"Sealed lips or wearing braces or tongue-tied",
    u"O:â€‘\)":"Angel, saint or innocent",
    u"O:\)":"Angel, saint or innocent",
    u"0:â€‘3":"Angel, saint or innocent",
    u"0:3":"Angel, saint or innocent",
    u"0:â€‘\)":"Angel, saint or innocent",
    u"0:\)":"Angel, saint or innocent",
    u":â€‘b":"Tongue sticking out, cheeky, playful or blowing a raspberry",
    u"0;\^\)":"Angel, saint or innocent",
    u">:â€‘\)":"Evil or devilish",
    u">:\)":"Evil or devilish",
    u"\}:â€‘\)":"Evil or devilish",
    u"\}:\)":"Evil or devilish",
    u"3:â€‘\)":"Evil or devilish",
    u"3:\)":"Evil or devilish",
    u">;\)":"Evil or devilish",
    u"\|;â€‘\)":"Cool",
    u"\|â€‘O":"Bored",
    u":â€‘J":"Tongue-in-cheek",
    u"#â€‘\)":"Party all night",
    u"%â€‘\)":"Drunk or confused",
    u"%\)":"Drunk or confused",
    u":-###..":"Being sick",
    u":###..":"Being sick",
    u"<:â€‘\|":"Dump",
    u"\(>_<\)":"Troubled",
    u"\(>_<\)>":"Troubled",
    u"\(';'\)":"Baby",
    u"\(\^\^>``":"Nervous or Embarrassed or Troubled or Shy or Sweat drop",
    u"\(\^_\^;\)":"Nervous or Embarrassed or Troubled or Shy or Sweat drop",
    u"\(-_-;\)":"Nervous or Embarrassed or Troubled or Shy or Sweat drop",
    u"\(~_~;\) \(ãƒ»\.ãƒ»;\)":"Nervous or Embarrassed or Troubled or Shy or Sweat drop",
    u"\(-_-\)zzz":"Sleeping",
    u"\(\^_-\)":"Wink",
    u"\(\(\+_\+\)\)":"Confused",
    u"\(\+o\+\)":"Confused",
    u"\(o\|o\)":"Ultraman",
    u"\^_\^":"Joyful",
    u"\(\^_\^\)/":"Joyful",
    u"\(\^O\^\)ï¼":"Joyful",
    u"\(\^o\^\)ï¼":"Joyful",
    u"\(__\)":"Kowtow as a sign of respect, or dogeza for apology",
    u"_\(\._\.\)_":"Kowtow as a sign of respect, or dogeza for apology",
    u"<\(_ _\)>":"Kowtow as a sign of respect, or dogeza for apology",
    u"<m\(__\)m>":"Kowtow as a sign of respect, or dogeza for apology",
    u"m\(__\)m":"Kowtow as a sign of respect, or dogeza for apology",
    u"m\(_ _\)m":"Kowtow as a sign of respect, or dogeza for apology",
    u"\('_'\)":"Sad or Crying",
    u"\(/_;\)":"Sad or Crying",
    u"\(T_T\) \(;_;\)":"Sad or Crying",
    u"\(;_;":"Sad of Crying",
    u"\(;_:\)":"Sad or Crying",
    u"\(;O;\)":"Sad or Crying",
    u"\(:_;\)":"Sad or Crying",
    u"\(ToT\)":"Sad or Crying",
    u";_;":"Sad or Crying",
    u";-;":"Sad or Crying",
    u";n;":"Sad or Crying",
    u";;":"Sad or Crying",
    u"Q\.Q":"Sad or Crying",
    u"T\.T":"Sad or Crying",
    u"QQ":"Sad or Crying",
    u"Q_Q":"Sad or Crying",
    u"\(-\.-\)":"Shame",
    u"\(-_-\)":"Shame",
    u"\(ä¸€ä¸€\)":"Shame",
    u"\(ï¼›ä¸€_ä¸€\)":"Shame",
    u"\(=_=\)":"Tired",
    u"\(=\^\Â·\^=\)":"cat",
    u"\(=\^\Â·\Â·\^=\)":"cat",
    u"=_\^=	":"cat",
    u"\(\.\.\)":"Looking down",
    u"\(\._\.\)":"Looking down",
    u"\^m\^":"Giggling with hand covering mouth",
    u"\(\ãƒ»\ãƒ»?":"Confusion",
    u"\(?_?\)":"Confusion",
    u">\^_\^<":"Normal Laugh",
    u"<\^!\^>":"Normal Laugh",
    u"\^/\^":"Normal Laugh",
    u"\ï¼ˆ\*\^_\^\*ï¼‰" :"Normal Laugh",
    u"\(\^<\^\) \(\^\.\^\)":"Normal Laugh",
    u"\(^\^\)":"Normal Laugh",
    u"\(\^\.\^\)":"Normal Laugh",
    u"\(\^_\^\.\)":"Normal Laugh",
    u"\(\^_\^\)":"Normal Laugh",
    u"\(\^\^\)":"Normal Laugh",
    u"\(\^J\^\)":"Normal Laugh",
    u"\(\*\^\.\^\*\)":"Normal Laugh",
    u"\(\^â€”\^\ï¼‰":"Normal Laugh",
    u"\(#\^\.\^#\)":"Normal Laugh",
    u"\ï¼ˆ\^â€”\^\ï¼‰":"Waving",
    u"\(;_;\)/~~~":"Waving",
    u"\(\^\.\^\)/~~~":"Waving",
    u"\(-_-\)/~~~ \($\Â·\Â·\)/~~~":"Waving",
    u"\(T_T\)/~~~":"Waving",
    u"\(ToT\)/~~~":"Waving",
    u"\(\*\^0\^\*\)":"Excited",
    u"\(\*_\*\)":"Amazed",
    u"\(\*_\*;":"Amazed",
    u"\(\+_\+\) \(@_@\)":"Amazed",
    u"\(\*\^\^\)v":"Laughing,Cheerful",
    u"\(\^_\^\)v":"Laughing,Cheerful",
    u"\(\(d[-_-]b\)\)":"Headphones,Listening to music",
    u'\(-"-\)':"Worried",
    u"\(ãƒ¼ãƒ¼;\)":"Worried",
    u"\(\^0_0\^\)":"Eyeglasses",
    u"\(\ï¼¾ï½–\ï¼¾\)":"Happy",
    u"\(\ï¼¾ï½•\ï¼¾\)":"Happy",
    u"\(\^\)o\(\^\)":"Happy",
    u"\(\^O\^\)":"Happy",
    u"\(\^o\^\)":"Happy",
    u"\)\^o\^\(":"Happy",
    u":O o_O":"Surprised",
    u"o_0":"Surprised",
    u"o\.O":"Surpised",
    u"\(o\.o\)":"Surprised",
    u"oO":"Surprised",
    u"\(\*ï¿£mï¿£\)":"Dissatisfied",
    u"\(â€˜A`\)":"Snubbed or Deflated"
}

In [66]:
def remove_emoticons(text):
    emoticon_pattern = re.compile(u'(' + u'|'.join(k for k in EMOTICONS) + u')')
    return emoticon_pattern.sub(r'', text)

remove_emoticons("Hello :-)")

'Hello '

In [67]:
remove_emoticons("I am sad :(")

'I am sad '

## Conversion of Emoticon to Words

In [68]:
def convert_emoticons(text):
    for emot in EMOTICONS:
        text = re.sub(u'('+emot+')', "_".join(EMOTICONS[emot].replace(",","").split()), text)
    return text

text = "Hello :-) :-)"
convert_emoticons(text)

'Hello Happy_face_smiley Happy_face_smiley'

In [69]:
text = "I am sad :()"
convert_emoticons(text)

'I am sad Frown_sad_andry_or_poutingConfusion'

In [72]:
text = "Hilarious ðŸ˜‚"
convert_emojis(text)

'Hilarious face_with_tears_of_joy'